
.floate{

    width: 50%;
    display: inline;
    float: left;
    background: transparent url('Images/Group\ 5577.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

img{
top: 143px;
left: 170px;
width: 331px;
height: 65px;
background: transparent url('Images/Group\ 7.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

h1{
top: 268px;
left: 102px;
width: 552px;
height: 206px;
font: var(--unnamed-font-style-normal) normal bold var(--unnamed-font-size-36)/46px Cairo;
text-align: left;
font: normal normal bold 36px/46px Cairo;
letter-spacing: 0.94px;
opacity: 1;
}

#g{
top: 511px;
left: 102px;
width: 58px;
height: 53px;
background: transparent url('Images/Group\ 5578.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

#p{
top: 518px;
left: 296px;
width: 46px;
height: 46px;
background: transparent url('Images/pin.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

#d{
top: 519px;
left: 487px;
width: 45px;
height: 45px;
background: transparent url('Images/dollar.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

button{
top: 635px;
left: 102px;
width: 182px;
height: 50px;
background: #01B2AE 0% 0% no-repeat padding-box;
box-shadow: 0px 5px 10px #E0E4EE;
border-radius: 5px;
opacity: 1;
}

#i{
    top: 653px;
left: 223px;
width: 15px;
height: 15px;
background: transparent url('Images/icon.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

#main{
top: 720px;
left: 102px;
width: 552px;
height: 50px;
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
letter-spacing: 0px;
opacity: 1;
}

#m{
top: 898px;
left: 126px;
width: 193px;
height: 59px;
background: transparent url('Images/Merit-Logo@2x.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

#u{
top: 900px;
left: 381px;
width: 172px;
height: 55px;
background: transparent url('Images/unnamed@2x.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.box{
    top: 143px;
    left: 102px;
    width: 552px;
    height: 627px;
    opacity: 1;
}

h6{
top: 143px;
left: 102px;
width: 552px;
height: 627px;
opacity: 1;
}

.p{
top: 541px;
left: 170px;
width: 55px;
height: 18px;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 13px/40px Open Sans;
text-align: left;
font: normal normal normal 13px/40px Open Sans;
letter-spacing: 0.78px;
color: #045855;
opacity: 1;
}

.inlines{
top: 509px;
left: 102px;
width: 529px;
height: 55px;
opacity: 1;
}

:root {

    /* Colors: */
    --unnamed-color-183b56: #183B56;
    --unnamed-color-1565d8: #1565D8;
    --unnamed-color-cce1ff: #CCE1FF;
    --unnamed-color-f3713f: #F3713F;
    --unnamed-color-4681c2: #4681C2;
    --unnamed-color-212020: #212020;
    --unnamed-color-707070: #707070;
    --unnamed-color-6e6e6e: #6E6E6E;
    --unnamed-color-00b2ae: #00B2AE;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-233b58: #233B58;
    --unnamed-color-a4a4a4: #A4A4A4;
    --unnamed-color-696969: #696969;
    --unnamed-color-5a7184: #5A7184;
    --unnamed-color-464a53: #464A53;
    
    /* Font/text values */
    --unnamed-font-family-roboto-regular: Roboto-Regular;
    --unnamed-font-family-roboto: Roboto;
    --unnamed-font-family-hkgrotesk-bold: HKGrotesk-Bold;
    --unnamed-font-family-hkgrotesk-medium: HKGrotesk-Medium;
    --unnamed-font-family-opensans-semibold: OpenSans-Semibold;
    --unnamed-font-family-opensans-bold: OpenSans-Bold;
    --unnamed-font-family-opensans-regular: OpenSans-Regular;
    --unnamed-font-family-poppins: Poppins;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-900: 900px;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-weight-medium: medium;
    --unnamed-font-size-8: 8px;
    --unnamed-font-size-12: 12px;
    --unnamed-font-size-14: 14px;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-18: 18px;
    --unnamed-font-size-36: 36px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-character-spacing-2: 2px;
    --unnamed-character-spacing-0-15: 0.15px;
    --unnamed-character-spacing-0-2: 0.2px;
    --unnamed-line-spacing-10: 10px;
    --unnamed-line-spacing-16: 16px;
    --unnamed-line-spacing-18: 18px;
    --unnamed-line-spacing-20: 20px;
    --unnamed-line-spacing-24: 24px;
    --unnamed-line-spacing-25: 25px;
    --unnamed-line-spacing-32: 32px;
    --unnamed-line-spacing-37: 37px;
    --unnamed-line-spacing-48: 48px;
    }
    
    /* Character Styles */
    .unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-roboto-regular);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-18);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-a4a4a4);
    }
    .unnamed-character-style-2 {
    font-family: var(--unnamed-font-family-roboto);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-900);
    font-size: var(--unnamed-font-size-36);
    line-height: var(--unnamed-line-spacing-37);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-233b58);
    }
    .unnamed-character-style-3 {
    font-family: var(--unnamed-font-family-hkgrotesk-bold);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-12);
    line-height: var(--unnamed-line-spacing-16);
    letter-spacing: var(--unnamed-character-spacing-0-15);
    color: var(--unnamed-color-183b56);
    }
    .unnamed-character-style-4 {
    font-family: var(--unnamed-font-family-hkgrotesk-bold);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-12);
    line-height: var(--unnamed-line-spacing-16);
    letter-spacing: var(--unnamed-character-spacing-0-15);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-5 {
    font-family: var(--unnamed-font-family-hkgrotesk-medium);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-8);
    line-height: var(--unnamed-line-spacing-10);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-696969);
    }
    .unnamed-character-style-6 {
    font-family: var(--unnamed-font-family-opensans-semibold);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-20);
    letter-spacing: var(--unnamed-character-spacing-2);
    color: var(--unnamed-color-5a7184);
    }
    .unnamed-character-style-7 {
    font-family: var(--unnamed-font-family-opensans-bold);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .unnamed-character-style-8 {
    font-family: var(--unnamed-font-family-opensans-regular);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-18);
    line-height: var(--unnamed-line-spacing-32);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-5a7184);
    }
    .unnamed-character-style-9 {
    font-family: var(--unnamed-font-family-hkgrotesk-bold);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-36);
    line-height: var(--unnamed-line-spacing-48);
    letter-spacing: var(--unnamed-character-spacing-0-2);
    color: var(--unnamed-color-183b56);
    }
    .unnamed-character-style-10 {
    font-family: var(--unnamed-font-family-poppins);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-25);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-464a53);
    }